//colors
$primary: #0000FF;
$secondary: #FF0000;
$info: #7FFFD4 ;
$error: #FF9494 ;


$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "info": $info,
    "error": $error,
    "black": #000000,
    "white":	#FFFFFF,	
    "red":	#FF0000,	
    "lime":	#00FF00,	
    "blue":	#0000FF,	
    "yellow":	#FFFF00,	
    "cyan":   #00FFFF,	
    "magenta": #FF00FF,
    "silver":	#C0C0C0,	
    "gray":	#808080,
    "maroon":	#800000,	
    "olive":	#808000,	
    "green":	#008000,
    "purple":	#800080,
    "teal":	#008080,	
    "navy":	#000080,
);

h2 {
    color: $primary;
}

p {
    color: $secondary;
}