//variables and base
@import 'variables';

//colors
@import 'colors';

//components
@import 'components/card';


nav {
    display: flex;

    ul {
        display: flex;
        justify-content: space-around;

        li {
            text-decoration: underline;
            color: red;
        }
    }

}